.draft-container {
    width: 100%;
    height: 100%;
    background-color: pink;
}

#timer {
    width: 20%;
    height: 5%;
    vertical-align: top;
    horizontal-align: middle;
    background-color: green;
}

#cards {
    vertical-align: middle;
    horizontal-align: middle;
    flow-children: right;
}

#confirmed-picks {
    vertical-align: bottom;
    horizontal-align: middle;
    flow-children: right;
    margin-bottom: 10px;
}

.card {
    background-color: grey;
    margin: 10px;
    flow-children: down;
    opacity: 0.9;
}

.card:enabled:hover {
    opacity: 1.0;
}

.card:disabled {
    opacity: 0.3;
    blur: gaussian(6, 6, 1);
}

.ability-card {
    border: 1px solid green;
}

.ultimate-card {
    border: 1px solid blue;
}

.hero-card {
    border: 1px solid red;
}